build
*.swp
*.swo
*~
src/obj
src/local.properties
src/default.properties
src/libs/armeabi
dist
*.pyc
testsuite
.packages

#ECLIPSE + PYDEV
.project
.pydevproject
.idea
.packages

recipes/python_launcher/libs
recipes/python_launcher/obj
recipes/libnetfilter_queue/libs
recipes/libnetfilter_queue/obj
python.zip

.deps

.optional-deps
